.about_section {
  padding-top: 170rem;
  position: relative;
  width: 100%;
  height: 100vh;
}
@media (max-width: 600px) {
  .about_section {
    height: 90vh;
  }
}
@media (max-width: 400px) {
  .about_section {
    height: 100vh;
  }
}
.content_wrapper {
  display: flex;
}
@media (max-width: 800px) {
  .content_wrapper {
    flex-direction: column;
  }
}

/* Галерея фотографий */
.photo_gallery {
  width: 50%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 800px) {
  .photo_gallery {
    width: 100%;
    top:450rem;
    justify-content: center;
    position: absolute;
    flex-direction: row;
  }
}
.card {
  background-color: rgba(237, 208, 222, 1);
  width: 183rem;
  height: 212rem;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 14rem;

  img {
    width: 84%;
    height: 71%;
    object-fit: cover;
  }
}
.card_1 {
  transform: rotate(-10deg);
  box-shadow: -1px -1px 20px rgb(105, 104, 104);
}
@media (max-width: 800px) {
  .card_1 {
    box-shadow: none;
    left: 0;
    top: 0rem;
  }
}
.card_2 {
  transform: rotate(20deg);
  left: 140rem;
  top: -30rem;
  box-shadow: -2px -2px 10px rgb(105, 104, 104);
}
@media (max-width: 800px) {
  .card_2 {
    left: 0rem;
    top: 0rem;
  }
}
.card_3 {
  transform: rotate(-20deg);
  top: -90rem;
  z-index: -1;
  box-shadow: -1px -1px 20px rgb(105, 104, 104);
}
@media (max-width: 800px) {
  .card_3 {
    left: 0rem;
    top: 0rem;
    z-index: 1;
    box-shadow: -1px -1px 10px rgb(105, 104, 104);
  }
}
/* Декоративные изображения */
.decor {
  position: absolute;
}

.flower {
  top: -20rem;
  left: 10rem;
  width: 300rem;
}
@media (max-width: 1150px) {
  .flower {
    scale: 0.9;
    transform: rotate(20deg);
    left: 0rem;
  }
}
@media (max-width: 800px) {
  .flower {
    scale: 0.9;
    transform: rotate(20deg);
    left: -30rem;
  }
}
@media (max-width: 650px) {
  .flower {
    scale: 0.8;
    left: -50rem;
  }
}
@media (max-width: 800px) {
  .flower {
    top: 55vh;
    left: 30%;
    transform: rotate(310deg);
  }
}
@media (max-width: 340px) {
  .flower {
    top: 60vh;
  }
}
@media (max-width: 250px) {
  .flower {
    top: 65vh;
  }
}
.cookie {
  bottom: 30rem;
  right: 120rem;
  width: 100rem;
  animation: rotate 90s linear infinite forwards;
}
@media (max-width: 1100px) {
  .cookie {
    right: 10rem;
  }
}
@media (max-width: 800px) {
  .cookie {
    scale: 0.8;
    bottom: 220rem;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* Текстовый блок */
.text_content {
  width: 50%;
  padding-top: 63rem;

  @media (max-width: 800px) {
    .title {
      display: flex;
      padding-right: 300rem;
      justify-content: flex-end;
    }
  }

  .subheading {
    font-size: 22rem;
    color: #c79eb2;
    font-family: 'Roboto flex';
    text-align: left;
    font-weight: bold;
  }
  @media (max-width: 800px) {
    .subheading {
      display: flex;
      justify-content: flex-end;
      padding-right: 100rem;
    }
  }
  .description {
    margin-top: 42rem;
    padding-left: 67rem;
    font-family: 'Roboto flex';
    font-weight: bold;
    font-size: 13rem;
    width: 80%;
    color: #747474;
    line-height: 1.6;
  }
  @media (max-width: 900px) {
    .description {
      font-size: 20rem;
    }
  }
  @media (max-width: 800px) {
    .description {
      margin-top: 320rem;
      font-size: 25rem;
      width: 100%;
    }
  }

  @media (max-width: 800px) {
    .cookie {
      scale: 0.8;
      top: 150rem;
      right: 0rem;
    }
  }
}
@media (max-width: 800px) {
  .text_content {
    width: 100%;
  }
}
