
.content {
    background: linear-gradient(
        rgba(0, 0, 0, 0.15) 0%,
        rgba(0, 0, 0, 0.05) 70%,
        rgba(0, 0, 0, 0) 100%
      )
      rgba(239, 239, 239, 1);
    display: flex;
    width: 100%;
    height: 80vh;
    .cake_image{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 300rem;
        }
    }
    .cake_info {
    padding-top: 195rem;
     width: 50%;
     h2 {
        font-family: 'Roboto flex';
        width: 100%;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 57rem;
        color: #000;
        letter-spacing: 10rem;
    }
    .cake_description {
        list-style: '-';
        margin-top: 100rem;
        width: 671rem;
        font-size: 18px;

        li {
            color: #747474;
            font-family: 'Roboto flex';
            font-weight: bold;
            text-transform: uppercase;
            font-size: 26rem;
        }
        
    }
    }
}


.buttons {
    width: 100%;
  justify-content: center;
    display: flex;
    gap: 115rem;

}

