
.content {
    background: linear-gradient(
        rgba(0, 0, 0, 0.15) 0%,
        rgba(0, 0, 0, 0.05) 70%,
        rgba(0, 0, 0, 0) 100%
      )
      rgba(239, 239, 239, 1);
    display: flex;
    width: 100%;
    height: 80vh;
    .cake_image{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 300rem;
        }
    }
    .cake_info {
    padding-top: 195rem;
    width: 50%;
     h2 {
        font-family: 'Roboto flex';
        width: 100%;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 57rem;
        color: #000;
        letter-spacing: 10rem;
    }
    .cake_description {
        list-style: '-';
        margin-top: 100rem;
        width: 90%;
        font-size: 18px;

        li {
            color: #747474;
            font-family: 'Roboto flex';
            font-weight: bold;
            text-transform: uppercase
            ;
            font-size: 26rem;
        }
        
    }
    }
}
@media(max-width:800px){
    .content {
        flex-direction: column;
        height: auto;
        align-items: center;
        position: relative;
        margin-bottom: 50rem;
        .cake_image{
            position: absolute;
            top: 0;
        }
        @media (max-width:600px){
            .cake_image{
                position: absolute;
                top: 5%;
                left: 25%;
            }
        }
        .cake_info {
            padding-top: 145rem;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 450rem;
            h2{
                display: flex;
                justify-content: center;
            }
            @media (max-width:600px){
                .cake_description {
                    margin-top: 100rem;
                    width: 95%;
                    li {
                        font-size: 30rem;
                    }
            }
            
            }
            @media (max-width:450px){
                .cake_description {
                    list-style: '-';
                    margin-top: 20rem;
                    margin-bottom: 10rem;
                    width: 100%;
                    li {
                        font-size: 35rem;
                    }
            }
            
            }
    }
}
}
.buttons {
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 115rem;
}
@media (max-width:800px){
    .buttons {
        flex-direction: column;
        align-items: center;
        gap: 32rem;
        margin-bottom: 50rem;
    }
}
