.dessert_item {
  text-align: center;
  height: 340rem;
  cursor: pointer;
  overflow: hidden;

  .image_container {
    margin: 0 auto;
    width: 320rem;
    height: 207rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  
    img {
    width: auto;
    height: 100%;
    object-fit: cover; 
    }
  }
  h3 {
    font-size: 25rem;
    font-family: 'Roboto flex';
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 3rem;
  }
  ul{
    list-style: none;

    p{
      font-size: 15rem;
    color: #000;
    font-weight: bold;
    font-family: 'Roboto flex';
    }
  }
   li {
    font-size: 13rem;
    color: rgba(116, 116, 116, 1);
    font-weight: bold;
    font-family: 'Roboto flex';
    white-space: pre-line;
  }
}
