.about_section {
  margin-top: 170rem;

  position: relative;
  width: 100%;
  height: 70vh;
}
.content_wrapper {
  display: flex;
}
@media (max-width: 1050px) {
  .content_wrapper {
    flex-direction: column;
  }
}
/* Галерея фотографий */
.photo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 80%;
    object-fit: cover;
    height: 95%;
  }
}

@media (max-width: 1050px) {
  .photo {
    width: 100%;
    img {
      width: 30%;
      transform: rotate(40deg);
    }
  }
}

/* Текстовый блок */
.text_content {
  padding-left: 100rem;
  width: 50%;
  padding-top: 43rem;

  .subheading {
    font-size: 22rem;
    color: #c79eb2;
    font-family: 'Roboto flex';
    text-align: left;
    font-weight: bold;
  }
  @media (max-width: 400px) {
    .subheading {
      font-size: 26rem;
    }
  }
  .description {
    margin-top: 42rem;
    padding-left: 67rem;
    font-family: 'Roboto flex';
    font-weight: bold;
    font-size: 13rem;
    width: 80%;
    color: #747474;
    line-height: 1.6;
  }
  @media (max-width: 900px) {
    .description {
      font-size: 20rem;
    }
  }
  @media (max-width: 1050px) {
    .description {
      margin-top: 42rem;
      padding-left: 30rem;
    }
  }
}
@media (max-width: 1050px) {
  .text_content {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .text_content {
    .title {
      padding-top: 150rem;
      padding-left: 700rem;
    }
    @media (max-width: 730px) {
      .title {
        padding-left: 600rem;
      }
    }
    @media (max-width: 600px) {
      .title {
        padding-left: 500rem;
      }
    }
    @media (max-width: 500px) {
      .title {
        padding-left: 400rem;
      }
    }
    @media (max-width: 400px) {
      .title {
        margin-top: 300rem;
        padding-left: 300rem;
      }
    }
    @media (max-width: 300px) {
      .title {
        margin-top: 300rem;
        padding-left: 200rem;
      }
    }
    .description {
      padding-left: 0;
    }
  }
}
