/* Сетка десертов */
.dessert_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320rem, 400px));
  padding: 0 50rem;
  margin: 0 auto;
  gap: 20rem;
}

/* Кнопка */
.menu_button_container {
  width: 23%;
  margin: 0 auto;
  background-color: #d4a9be;
  padding: 12rem 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu_button {
  font-family: 'Roboto slab';
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16rem;
  transition: background 0.3s;
}
